<component name="ArtifactManager">
  <artifact type="war" name="Spring_MVC:war">
    <output-path>$PROJECT_DIR$/Spring_MVC/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>Spring_MVC</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="Spring_MVC.war">
      <element id="artifact" artifact-name="Spring_MVC:war exploded" />
    </root>
  </artifact>
</component>